src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4f0929f9-61e6-46c0-a913-dcd8148d5235" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="45e071e8-3197-4902-a98b-84c96a682753" >
		<db:my-sql-connection host="mysql.irtr.app" port="3306" database="rtr_dev" user="rtrdevusr" password="rtr@2021"/>
	</db:config>
	<flow name="dummyFlow" doc:id="b5a910e5-662a-4b0b-986c-0e4f199cbdc5" >
		<http:listener doc:name="Listener" doc:id="e0eef299-2d01-4bc6-8436-fb0018d7a73e" config-ref="HTTP_Listener_config" path="/userbyid/{userId}"/>
		<db:select doc:name="Select" doc:id="90529fb0-c28b-498a-890f-cd39efea0829" config-ref="Database_Config">
			<db:sql >SELECT FIRST_NAME,LAST_NAME, USER_ID FROM USER WHERE USER_ID=:userId</db:sql>
			<db:input-parameters ><![CDATA[#[userId: attributes.uriParams.userId]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="355b73fb-b182-4450-ade6-ff6bb0879e87" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6c0cea0e-b9e8-4f7c-9277-a296c14de5c2" message="#[payload]"/>
	</flow>

	
	
	
	
	</mule>
